<script>
    (function(){
        $("#multi_actions").delegate("a","mousedown",function(){
            var checkboxes=$(".checker .checked input[name=\"__item\"]");
            var ids=checkboxes.map(function(){
                return $(this).val();
            });
            if(!ids||ids.length==0 && $(this).attr("require")!='false'){
                alert("未选中");
                return false;
            }
            ids=Array.prototype.slice.call(ids,0);
            var action=$(this).attr("action");
            $(this).attr("href",action.replace("__ids_json__",JSON.stringify(ids)).replace("__ids__",ids.join(",")));
        });
        $("#selectAll").click(function(){
            var checkboxes=$(".checker input[name=\"__item\"]");
            if($(this).prop("checked")){
                checkboxes.attr("checked",true).parent().addClass("checked");
            }else{
                checkboxes.attr("checked",false).parent().removeClass("checked");
            }
        });
    })();
</script>

