{%extends file="admin/framework.tpl"%}
{%block name="head" append%}
	<link href="/winphp/metronic/media/css/DT_bootstrap.css" rel="stylesheet" type="text/css"/>
    <style>
        #sample_1_wrapper td{
            word-break: break-all;
        }
    </style>
{%/block%}
{%block name="content"%}
{%include file="admin/base/top_msg.html"%}
<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box light-grey">
            <div class="portlet-title">
                <div class="caption"><i class="icon-globe"></i>{%$executeInfo.controllerName%}</div>
            </div>
            <div class="portlet-body">
                <div class="clearfix">
                    <div class="btn-group">
                        <a href="mailto:wangpeng20@baidu.com" id="sample_editable_1_new" class="btn red">
                            暂无权限,点击申请 <i class="icon-plus"></i>
                        </a>
                    </div>
                </div>

            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
</div>
{%/block%}

{%block name="footjs" append%}
    {%include file="admin/base/_filter_js.html" inline%}
    {%include file="admin/base/_multi_actions_js.html" inline%}
{%/block%}
