<?php 
define('WINPHP_PATH', "/home/wp/Projects/winphp");
require (WINPHP_PATH."/config/classpath.php");


ini_set('session.gc_maxlifetime', 2592000*3);
ini_set('session.cookie_lifetime', 2592000*3);

global $IS_DEBUG;
if (file_exists(ROOT_PATH.'/DEBUG'))
{
    $IS_DEBUG = true;
    ini_set('track_errors', true);
    ini_set("display_errors", "On");
    ini_set('error_reporting', E_ALL & ~E_NOTICE);
    Logger::setLevel(3);
}
else
{
    $IS_DEBUG=false;
    Logger::setLevel(1);
}
date_default_timezone_set('Asia/Shanghai');


#DB::init("mysql:host=127.0.0.1;dbname=db_test;port:3306",'root','');
#DB::init("mysql:host=127.0.0.1;dbname=db_test;port:3306",'root','');

DB::init("sqlite:".ROOT_PATH."/order_food.db","","");

#DB::execute_sql("set names utf8");
if(php_sapi_name()!='cli'){
//    ini_set("session.save_handler", "memcache");  
//    ini_set("session.save_path", "tcp://127.0.0.1:11211");
    session_start();
}
define("LOG_PATH", ROOT_PATH."/log/");
/*
define("PUBLIC_IMAGE_BASE", ROOT_PATH."/webroot/public_upload/");
define("PUBLIC_IMAGE_URI", "/public_upload/");
define("PRIVATE_IMAGE_BASE", ROOT_PATH."/private_upload/");
define("IS_DEBUG", $IS_DEBUG);
define("VERSION", 1);

define("DOMAIN_NAME", $_SERVER['HTTP_HOST']);
define("BASE_URL","http://".DOMAIN_NAME);


define("SMTP_HOST","smtp.exmail.qq.com");
define("SMTP_USERNAME", '');                 // SMTP username
define("SMTP_PASSWORD", '');                 // SMTP username
 */
