<script>
    (function(){
        if($(".datetimepicker")[0]){
            $("head").append('<link rel="stylesheet" type="text/css" href="/winphp/metronic/media/css/datetimepicker.css" />');
            $.ajax({
                cache:true,
                url:"/winphp/metronic/media/js/bootstrap-datetimepicker.js",
                success:function(){
                    $(".datetimepicker").datetimepicker({
                        rtl : App.isRTL()
                    });
                }
            })
        }
        $("form[name='__filter']").submit(function(){
            //action 和field两个参数是为了支持choosemodel
            location.href=location.pathname+"?__filter="+encodeURIComponent($(this).serialize()){%if $smarty.get.action%}+"&action={%$smarty.get.action|escape:url%}"{%/if%}{%if $smarty.get.field%}+"&field={%$smarty.get.field|escape:url%}"{%/if%};
            return false;
        });
        $("body").delegate("[confirm]",'click',function(){
            return confirm($(this).attr("confirm"));
        });
    })();
</script>
