{%extends file="admin/framework.tpl"%}
{%block name="head" append%}
	<link href="/winphp/metronic/media/css/DT_bootstrap.css" rel="stylesheet" type="text/css"/>
{%/block%}
{%block name="content"%}

<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box light-grey">
            <div class="portlet-title">
                <div class="caption"><i class="icon-globe"></i>{%$executeInfo.controllerName%}</div>
            </div>
            <div class="portlet-body">
                <div class="clearfix">
                    <div class="btn-group">
                        <a href="?action=read" id="sample_editable_1_new" class="btn green">
                            新建 <i class="icon-plus"></i>
                        </a>
                    </div>
                </div>

                {%include file="admin/base/_list.html" inline%}
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
</div>
{%*include file="admin/base/top_msg.html"*%}
{%/block%}

{%block name="footjs" append%}
    {%include file="admin/base/_filter_js.html" inline%}
{%/block%}
