{%extends file="admin/framework.tpl"%}

{%block name="head" append%}
    {%$allForms=[]%}
    {%$allForms[]=$form%}
    {%foreach $inlines as $inline%}
        {%$allForms[]=$inline.admin->form%}
    {%/foreach%}
    
    {%$css_code=Form::getHeadCSS($allForms)%}
    {%eval var=$css_code%}
    <style>
        .inline_form{padding:10px;}
    </style>
{%/block%}
{%block name="content"%}
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->   
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
                {%$executeInfo.controllerName|escape%}
            </h3>
            <ul class="breadcrumb">
                <li>
                <i class="icon-home"></i>
                <a href="{%$__controller->getUrlPrefix()%}">首页</a> 
                <span class="icon-angle-right"></span>
                </li>
                <li>
                <a href="{%$__controller->getUrlPrefix()%}/{%$executeInfo.controllerName|escape%}">{%$executeInfo.controllerName|escape%}列表</a>
                <span class="icon-angle-right"></span>
                </li>
                <li><a href="javascript:;">{%$executeInfo.controllerName|escape%}编辑</a></li>
            </ul>
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row-fluid">
        <div class="span12">
            <!-- BEGIN SAMPLE FORM PORTLET-->   
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-reorder"></i>
                        <span class="hidden-480">{%$executeInfo.controllerName|escape%}</span>
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#portlet-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                </div>
                <div class="portlet-body">
                    <!-- BEGIN FORM-->
                    <form name="main" action="{%$pageAdmin->getUrl()%}" method="post" class="form-horizontal">
                        {%if $__is_new%}
                        <input type=hidden name="action" value="create">
                        {%else%}
                        <input type=hidden name="action" value="update">
                        <input type=hidden name="id" value="{%$modelData->mId%}">
                        {%/if%}
                        <input type=hidden name="__success_url" value="{%$__success_url%}">
                        
                        {%$form->to_html($__is_new)%}

                        <div class="form-actions">
                            <button type="submit" class="btn blue"><i class="icon-ok"></i>保存</button>
                            <!--button type="button" class="btn">返回</button-->
                        </div>
                    </form>
                    <!-- END FORM-->  
                    <div class="inline_forms">
                        {%foreach from=$inlines item=inline key=inlineIndex%}
                        {%if $inline.admin->getRelationship()=='single'%}
                            {%$inline.modelDataList=array_slice($inline.modelDataList,0,1)%}
                        {%/if%}
                        {%foreach from=$inline.modelDataList item=inlineModelData%}
                        <div class="inline_form">
                            <a name="inline_{%$inlineIndex%}_{%$inlineModelData->mId%}"></a>
                            <form class='formWrap form-horizontal' method='post' action="{%$pageAdmin->getUrl()%}">
                                <input type='hidden' name='action' value='update'>
                                <input type='hidden' name='__inline_admin_index' value='{%$inlineIndex%}'>
                                <input type='hidden' name='id' value='{%$inlineModelData->mId%}'>
                                <input type='hidden' name='{%$inline.admin->foreignKeyName%}' value='{%$modelData->mId%}'>
                                {%capture%}
                                {%$inline.admin->form->bind($inlineModelData->getData())%}
                                {%/capture%}
                                {%$inline.admin->form->to_html('div','item')%}
                                <input type="submit" value="提交">
                            </form>

                            <form class='formWrap form-horizontal' style="position:absolute" method='post' action="{%$pageAdmin->getUrl()%}">
                                <input type='hidden' name='action' value='delete'>
                                <input type='hidden' name='__inline_admin_index' value='{%$inlineIndex%}'>
                                <input type='hidden' name='id' value='{%$inlineModelData->mId%}'>
                                <input type='hidden' name='{%$inline.admin->foreignKeyName%}' value='{%$modelData->mId%}'>
                                <input type="submit" value="删除" style="margin:-85px 0 0 100px">
                            </form>
                        </div>

                        {%/foreach%}
                        {%if ($inline.admin->getRelationship()=='multi'||!$inline.modelDataList) && $inline.admin->couldCreate()%}
                        <div class="inline_form">
                            <a name="inline_{%$inlineIndex%}_"></a>
                            <form class='formWrap form-horizontal' method="post" action="{%$pageAdmin->getUrl()%}">
                                <input type=hidden name="__inline_admin_index" value="{%$inlineIndex%}">
                                <input type=hidden name="action" value="create">
                                <input type=hidden name="{%$inline.admin->foreignKeyName%}" value="{%$modelData->mId%}">
                                {%$inline.admin->form->clear()%}
                                {%$inline.admin->form->to_html("div",'item')%}
                                <input type="submit" value="提交">
                            </form>
                        </div>
                        {%/if%}
                        {%/foreach%}
                    </div>
                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->         
</div>
        
 
<div id="popup" style="display:none">
    <span class="button b-close clearfix"><span>X</span></span>
    <div class="content"></div>
</div>

{%/block%}
{%block name="footjs" append%}
<script>
(function(){
    var __libs={
        ckeditor:"/winphp/ckeditor/ckeditor.js",
        "ckeditor.jquery":"/winphp/ckeditor/adapters/jquery.js",
        jquery_form:"/winphp/js/jquery.form.js",
        suggest:"/winphp/js/jquery.smartbox.js",
        popup:"/winphp/js/jquery.bpopup-0.9.4.min.js",
        ckfinder:"/winphp/ckfinder/ckfinder.js"
    };
    var defers={};
    window.use=function(lib,callback){
        if(__libs.hasOwnProperty(lib)){
            var defer;
            if(defers.hasOwnProperty(lib)){
                defer=defers[lib];
            }else{
                defer=defers[lib]=$.ajax({
                    type:'get',
                    crossDomain:true,
                    url:__libs[lib],
                    cache:true,
                    dataType:'script'
                });
            }
            if(callback){
                defer.done(function(){
                    callback();
                });
            }
            return defer;
        }
    };
    $(window).load(function(){
        var hash=location.hash.replace(/^\#/,"");
        if(hash){
            try{
                window.scrollTo(0,$("a[name='"+hash+"']").offset().top);
            }catch(e){
            }
        }
    });
})();
</script>
{%$js_code=Form::getFootJS($allForms)%}
{%eval var=$js_code%}
{%/block%}
